.centered_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: royalblue;
}

.earthDragon {
  margin: auto;
  filter: hue-rotate(60deg) brightness(80%) drop-shadow(10px 0px 8px #633a47);
  width: 100px;
}

.windDragon {
  margin: auto;
  filter: hue-rotate(120deg) brightness(70%) drop-shadow(10px 0px 8px #71717c);
  width: 100px;
}

.fireDragon {
  margin: auto;
  filter: hue-rotate(180deg) brightness(60%) drop-shadow(10px 0px 8px #c4aa39);
  width: 100px;
}

.waterDragon {
  margin: auto;
  filter: hue-rotate(240deg) brightness(50%) drop-shadow(10px 0px 8px #1f3752);
  width: 100px;
}

.forestDragon {
  margin: auto;
  filter: hue-rotate(300deg) brightness(40%) drop-shadow(10px 0px 8px #0a794b);
  width: 100px;
}

output {
  flex-item;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: coral;
  margin: 0;
  width: 100vw;
  height: 10vh;
}

#button_collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 100vw;
  height: 90vh;
  margin-top: 10vh;
  justify-content: center;
}

#button_container {
  text-align: center;
  width: 250px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  margin-bottom: auto;
}

button {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: auto;
  height: auto;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 25px;
  width: 100px;
}

#click_me {
  display: block;
  text-align: center;
}

#click_message {
  margin: auto;
  text-align: center;
  justify-content: center;
}
